body{
	font-family: "Montserrat", "Avenir", sans-serif;
	font-weight: normal;
	margin: 0;
	text-align: center;

	
	/* Source: 
	https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.pexels.com%2Fphotos%2F38136%2Fpexels-photo-38136.jpeg&imgrefurl=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fforest%2F&docid=BC4_f5opwORgnM&tbnid=mx_U_HXa0sbp_M%3A&vet=10ahUKEwjEmc68p5jWAhUPEVAKHQ1NCIIQMwjqASgEMAQ..i&w=5760&h=3840&bih=759&biw=1536&q=forest&ved=0ahUKEwjEmc68p5jWAhUPEVAKHQ1NCIIQMwjqASgEMAQ&iact=mrc&uact=8;
	*/
	background-color: rgb(0, 79, 23);
	background-image: url('forest.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.header {
	top: 0;
	margin-top: 0;
	background-color: rgba(0, 79, 23, 0.975);
}

.header-transition {
	top: 0;
	margin-top: 0;
	width: 100%;
	height: 10px;
	background: -webkit-linear-gradient(bottom, rgba(0, 79, 23, 0.0), rgba(0, 79, 23, 0.7), rgba(0, 79, 23, 0.975));
	background: -o-linear-gradient(bottom, rgba(0, 79, 23, 0.0), rgba(0, 79, 23, 0.7), rgba(0, 79, 23, 0.975));
	background: -moz-linear-gradient(bottom, rgba(0, 79, 23, 0.0), rgba(0, 79, 23, 0.7), rgba(0, 79, 23, 0.975));
	background: linear-gradient(bottom, rgba(0, 79, 23, 0.0), rgba(0, 79, 23, 0.7), rgba(0, 79, 23, 0.975));
}

h1 {
	text-align: center;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	color: white;
}

span {
	color: white;
}

.left-margin {
	margin: auto 0 0 5%;
}



.selected {
	font-weight: 900;
	text-decoration: underline;
}

#playerColor {
	border: none;
	background: none;
	width: 20px;
	height: 20px;
	background-color: green;
	margin-left: 0;
}

#playerColor:focus{
	outline: none;
}

.obj-wrapper {
	position:relative;
	width:100%;
	padding-bottom: 40%;
	height:0;
	overflow:hidden;
	margin: 0;
}

#board {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 30%;
	height: 75%;
	padding: 0;
	margin: 0;
	table-layout: fixed;
	border-spacing: 0px;

	top: 10%;

	background-color: rgba(244, 228, 46, 0.9);
}

.insert {
	background-color: rgba(196, 183, 37, 1.0);
}

#free {
	position: absolute;
	left: 78%;
	top: 10%;
	width: calc(30%/7);
	height: calc(100%/7*0.75);
	padding: 0; 
	background-color: rgba(244, 228, 46, 0.9);
}

.mazeTile {
	margin: 0;
	padding: 0; 
}

.animate {
	transition: transform 0.3s;
}

#origin {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.player {	
	font-family: "Times New Roman";
	font-size: 200%;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	
	/*transition: all 0.3s; */
}

.center {
	position: absolute;	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


#green {
	color: green;
	z-index: 1;
	/*background-color: rgba(0,255,0,0.5);*/
}

#yellow {
	color: yellow;
	z-index: 2;
	/*background-color: rgba(0,0,0,0.5);*/
}

#red {
	color: red;
	z-index: 3;
	/*background-color: rgba(255,0,0,0.5);*/
}

#blue {
	color: blue;
	z-index: 4;
	/*background-color: rgba(0,0,255,0.5);*/
}