*{
	background-color: rgba(255,190,0,0.15);
	box-sizing: border-box;
}

body{
	font-family: "Montserrat", "Avenir", sans-serif;
	font-weight: normal;
	margin: 0;
	text-align: center
}

h1 {
	text-align: center;
}

#board {
	width: 30%;
	/*border-collapse: collapse;*/

	margin: 0 auto;
	padding: 0;
	table-layout: fixed;
	display: inline-table;
	margin-left: 12%;
}

#free {
	width: calc(30%/7);
	padding: 0;
	table-layout: fixed;
	display: inline-table;
	margin-left: 10%;
	transition: all 0.3s; 
}


td {
	width: calc(100%/7);
	position: relative;
	text-align: center;
	vertical-align: middle;
	/*padding-bottom: calc(30%/7);
	height: 0;*/
}

td::after {
	visibility: hidden;
	content: "\200b";
	text-align: center;
	vertical-align: middle;
	display: block;
	margin-top: 20%;
	margin-bottom: 20%;
}

.mazeTile {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

div {
	transition: all 0.3s; 

	width: 100%;
	height: 100%;
	font-family: "Times New Roman";
	font-size: 150%;
	position: absolute;
	left: 0;
	top: 0;
}

div#green {
	color: green;
	z-index: 1;
}

div#yellow {
	color: yellow;
	z-index: 2;
}

div#red {
	color: red;
	z-index: 3;
}

div#blue {
	color: blue;
	z-index: 4;
}